body{
background-color: #554c44;
text-align: center;
padding: 0;
margin: 0;
cursor: pointer;
}

.main-content{
  padding: 50px;
  background-image: url(1.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  text-align: center;
  width: 400px;
  height: 400px;
}

.header-bar{
  display: block;
  background: transparent;
  width: 100%;
  height: 75px;
  position: relative;
  text-align: center;
  top: 0;
  left: 0;
  padding: 10px;
  font-size: 40px;
  line-height: 80px;
  font-style: italic;
  color: white;
}

a{
  text-decoration: none;
}

.address-container{
  width: 300px;
  height: 300px;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  padding: 10px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url(address.jpg);
}

p{
  color: white;
  max-width: 400px;
  margin: 0 auto;
  padding: 5px;
}


.fa-envelope{
  display: block;
  padding: 10px;
  text-decoration: none;
  margin: 0 auto;
}

.email-inquiry{
  color: white;
  text-decoration: none;
  font-size: 30px;
}

.footer-bar{
  width: 100%;
  display: block;
  bottom: 0;
  right: 0;
  height: 50px;
  text-align: center;
  position: relative;
}
